<script>
  document.addEventListener('DOMContentLoaded', function() {
    console.log('JavaScript is working!');
  });
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-153400SX3J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-153400SX3J');
</script>

<script>
  const redirects = {
    "topdot":"#",
    "bitly-vert":"#",
    "bitly-zwj":"#",
    "bitly-j":"#",
    "smashkarts":"#"
  }

  var a = new URLSearchParams(window.location.search).get('from');if(a && redirects[a]){window.location = redirects[a]}
</script>
